@import "/asset/Images/typographie.css";

* {
    font-family: "Gotham", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: roboto;
}

header {
    width: 100%;
    margin: auto;
    height: 10vh;
    background-color: #04730a;
    display: flex;
    align-items: center;
    width: 100%;
}

header img {
    height: 8vh;
    width: auto;
    border-radius: 20%;
    border: solid;
}

main {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(177, 231, 218);
    align-items: center;
    flex-grow: 1;
    width: 100%;
    padding: 10px;
    margin: auto;
}

footer {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: white;
}

footer>H3 {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
    width: 100%;
    height: 10vh;
    background: #29703b;
    font-family: Arial, sans-serif;
    margin: 0;
}

nav ul {
    display: flex;
    background: #939393;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: flex;
    align-items: center;
}

nav li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 40px;
}

nav li:hover {
    background-color: rgb(31, 178, 38);
    border-radius: 100%;
    border: solid;
}

label,
#toggle {
    display: none;
}

/*Page d'acceuil*/
.presentation {
    background-image: url(../Images/A2-1920.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    color: honeydew;
    padding: 10px 50% 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;

}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: aqua;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.5s;
}

.btn:hover {
    background-color: aquamarine;
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

/* page témoignages*/
.bloctemoignages {
    display: flex;
    justify-content: space-evenly;
}

.card1 {
    background: linear-gradient(#4CAF50, #7FA576);
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    border-radius: 20px;
    padding: 1%;
    box-shadow: 0 2px 5px;
}

.card1 img {
    width: 35%;
    height: auto;
    display: flex;
    border-radius: 10%;
}

.card1>p {
    font-style: italic;
}

.card1>h2 {
    text-decoration: underline;
}

.card1>h2 {
    font-weight: bold;
    color: rgb(37, 59, 52);
}

/*Page formation*/
.formation1 {
    display: flex;
    flex-wrap: wrap;
    /* permet de passer à la ligne */
    gap: 20px;
    /* espace entre les blocs */
}

.formation1 p {
    flex: 1 1 calc(50% - 20px);
    /* 2 colonnes */
    box-sizing: border-box;
    background: #f9f9f9;
    /* juste pour visualiser */
    padding: 10px;
    border-radius: 5px;
}

.reference {
    text-align: center;
}

.reference img {
    display: inline-block;
    width: 20%;
    height: auto;
    margin: 1%;
}

/*Page formulaire*/
.form {
    background: linear-gradient(#4CAF50, #7FA576);
    padding: 1%;
    border-radius: 1%;
    width: 100%;
    height: auto;
}


/*Responsive*/
@media screen and (max-width:650px) {
    .bloctemoignages {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .card1 {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .reference img {
        width: 70%;
    }

    .form p {
        flex-wrap: wrap;
        width: 50%;
    }

    nav ul {
        display: none;
    }

    .box {
        width: 90%;
    }

    label::before {
        content: "☰";
    }

    label {
        position: absolute;
        display: flex;
        top: 10px;
        right: 40px;
        color: rgb(255, 255, 255);
        cursor: pointer;
        font-size: 30px;
    }

    #toggle:checked~nav label::before {
        content: "X";
    }

    #toggle:checked~nav ul {
        display: flex;
        flex-direction: column;
        margin-top: 10vh;
        z-index: 10;
    }

    #toggle:checked~nav ul li {
        display: flex;
        align-items: center;
        width: 20vw;
        background-color: #04730a;
        padding: 10px;
    }
}